{%  extends 'Masterindex.html'%}
{% load static %}
{%  block navbar  %}

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Murli Tailor</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{curl}}TailorApp/tailorhome" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="{{curl}}pages" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Deletes</a> 
                    <div class="dropdown-menu m-0">
                        <a href="{{curl}}TailorApp/user" class="dropdown-item">Delete Custumer</a>
                        <a href="{{curl}}TailorApp/deletedue"  class="dropdown-item">Delete Due</a>
                        <a href="{{curl}}TailorApp/deleteitemu"  class="dropdown-item">Delete Item (Upper)</a>
                        <a href="{{curl}}TailorApp/deleteiteml"  class="dropdown-item">Delete Item (Lower)</a>
                        <a href="{{curl}}TailorApp/deleteuser"  class="dropdown-item">Delete User</a>
                    </div>
                </div> 
                <a href="{{curl}}TailorApp/custumerlist" class="nav-item nav-link active">Custumer List</a>
               
                <!-- <a href="about.html" class="nav-item nav-link">About</a> -->
                <a href="{{curl}}TailorApp/dueview" class="nav-item nav-link">Due View</a>
               
                
                <a href="{{curl}}TailorApp/upgradeprogress" class="nav-item nav-link">Change Password</a>  
                <a href="{{curl}}TailorApp/approved" class="nav-item nav-link">Approved Users</a>
            </div>
            <a href="{{curl}}TailorApp/idinvoice" class="btn btn-primary rounded-pill py-2 px-4">Invoice</a> &nbsp; &nbsp;
            <a href="{{curl}}login" class="btn btn-primary rounded-pill py-2 px-4">Log Out</a>
        </div>
    </nav>
    
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{{msg}}</h1>
                    <p class="display-3 text-white mb-4 animated slideInDown">Change Password</details></p>
                    {% comment %} <form  method="post"  action="" novalidate >
                        {% csrf_token %}
                    <div class="position-relative w-75 mx-auto animated slideInDown">
                         <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" name="searchid" type="text" placeholder="Id: 101">
                        <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>  {% endcomment %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{%  endblock navbar %}
{%  block about %}  

{%  endblock about %}
{%  block service %}

{%  endblock service %}
{% block destination %}
    
{% endblock destination %}
{% block package %}

<h6 class="section-title bg-white text-center text-primary px-3">User name = Admin : Naveen patidar</h6>


{% comment %} <div class="position-relative mx-auto" style="max-width: 400px;">
    <form  method="post"  action="" novalidate >
    {% csrf_token %}
        <input class="form-control border-primary w-100 py-3 ps-4 pe-5" name="searchid" type="text" placeholder="User id">
        <br>
        
        <input class="form-control border-primary w-100 py-3 ps-4 pe-5" name='password' type="text" placeholder="New password">
        <button type="submit"  class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Change</button>

        <br>
        <br>
        
</div> {% endcomment %}
<div class="position-relative mx-auto" style="max-width: 400px;">
    <form method="post" action="" novalidate>
        {% csrf_token %}
        <input id="searchid" class="form-control border-primary w-100 py-3 ps-4 pe-5 mb-3" name="searchid" type="text" placeholder="User id" oninput="checkInputs()">
        
        <input id="password" class="form-control border-primary w-100 py-3 ps-4 pe-5 mb-3" name="password" type="text" placeholder="New password" oninput="checkInputs()">
        
       
        <button id="submitButton" type="submit" class="btn btn-primary py-2 w-100" style="display: none;">Change</button>
        <h6 class="section-title bg-white text-center text-primary px-3">IF you fill id and password the summit button automatic see</h6>
    </form>
</div>

<script>
    function checkInputs() {
        const searchid = document.getElementById('searchid').value;
        const password = document.getElementById('password').value;
        const submitButton = document.getElementById('submitButton');

        if (searchid && password) {
            submitButton.style.display = 'block';
        } else {
            submitButton.style.display = 'none';
        }
    }
</script>

{% endblock package %}
{% block booking %}

{% endblock booking %}

{% block process %}
{% endblock process %}
{% block team %}
{% endblock team %}


{% block testimonial %}
{% endblock testimonial %}
{% block footer %}
{% endblock footer %}
