{%  extends 'Masterindex.html'%}
{% load static %}






<!-- Navbar & Hero Start -->
{%  block navbar  %}
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Murli Tailor</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{curl}}TailorApp/tailorhome" class="nav-item nav-link active">Home</a>
                <!-- <a href="about.html" class="nav-item nav-link">About</a> -->
                <a href="{{curl}}TailorApp/editsdeatils" class="nav-item nav-link">Due Set</a>
               
                
                <a href="{{curl}}TailorApp/upgradeprogress" class="nav-item nav-link">Update Progress</a>  
                <a href="{{curl}}TailorApp/searching" class="nav-item nav-link">Searching Custumer</a>
            </div>
            <a href="{{curl}}TailorApp/changepassword" class="btn btn-primary rounded-pill py-2 px-4">Settings</a> &nbsp; &nbsp;
            <a href="{{curl}}login" class="btn btn-primary rounded-pill py-2 px-4">Log Out</a>
        </div>
    </nav>

    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Search custumer by its Id</h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">Searching</details></p>
                    <form  method="post"  action="" novalidate >
                        {% csrf_token %}
                    <div class="position-relative w-75 mx-auto animated slideInDown">
                         <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" name="searchid" type="text" placeholder="Id: 101">
                        <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button> 
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock navbar %}




{%  block about %}
{%  endblock about %}
{%  block service %}
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-10">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <h2  class="mb-5">Customer Details</h2>
                <div class="card-body">
                    {% if context %}
                        {% for x in context %}
                        <div class="mb-4">
                            <p class="h4 mb-1"><strong>Customer Name:</strong> <span class="text-info">{{ x.Custumer_name }}</span></p>
                            <p class="h4 mb-1"><strong>Customer Name:</strong> <span class="text-info">{{ x.Custumerid}}</span></p>
                            <h6 class="section-title bg-white text-center text-primary px-3">Custumer Mobile = {{ x.Custumer_mobile}}</h6>
                            <h6 class="section-title bg-white text-center text-primary px-3">Custumer Delivery= {{ x.Delivery_date}}</h6>
                            <h6 class="section-title bg-white text-center text-primary px-3">Status= {{ x.Update}}</h6>
                            <br>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted text-center">No customer details available.</p>
                    {% endif %}
                   
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-5">
    </div>
</div>
{%  endblock service %}
{% block destination %}
    
{% endblock destination %}
{% block package %}


{% endblock package %}
{% block booking %}
 
{% endblock booking %}

{% block process %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Details Overview</h6>
            <h1 class="mb-5">Cloth Details</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="table-responsive">
                    <h5 class="text-center">Upper Clothes</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Category Id</th>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Front Length</th>
                                <th scope="col">Shoulder</th>
                                <th scope="col">Chest</th>
                                <th scope="col">Wrist</th>
                                <th scope="col">Hips</th>
                                <th scope="col">Sleeves</th>
                                <th scope="col">Biceps</th>
                                <th scope="col">Cuff</th>
                                <th scope="col">Collar</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in context1 %}
                            <tr>
                                <td>{{ x.Catid }}</td>
                                <td>{{ x.Item }}</td>
                                <td>{{ x.Quantity }}</td>
                                <td>{{ x.Frontlength }}</td>
                                <td>{{ x.Shoulder }}</td>
                                <td>{{ x.Chest }}</td>
                                <td>{{ x.Wrist }}</td>
                                <td>{{ x.Hips }}</td>
                                <td>{{ x.Sleeves }}</td>
                                <td>{{ x.Biseps }}</td>
                                <td>{{ x.Cuff }}</td>
                                <td>{{ x.Callor }}</td>
                                <td>{{ x.Message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="table-responsive">
                    <h5 class="text-center">Lower Clothes</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Category Id</th>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Full Length</th>
                                <th scope="col">Waist</th>
                                <th scope="col">Hips</th>
                                <th scope="col">Thigh</th>
                                <th scope="col">Rise</th>
                                <th scope="col">Knee</th>
                                <th scope="col">Upper Leg Opening</th>
                                <th scope="col">Leg Opening</th>
                                <th scope="col">Others</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in context2 %}
                            <tr>
                                <td>{{ x.Catid }}</td>
                                <td>{{ x.Item }}</td>
                                <td>{{ x.Quantity }}</td>
                                <td>{{ x.Fulllength }}</td>
                                <td>{{ x.Waist }}</td>
                                <td>{{ x.Hips }}</td>
                                <td>{{ x.Thigh }}</td>
                                <td>{{ x.Rise }}</td>
                                <td>{{ x.Knee }}</td>
                                <td>{{ x.Uplegoppening }}</td>
                                <td>{{ x.Legoppening }}</td>
                                <td>{{ x.Others }}</td>
                                <td>{{ x.Message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-10 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="table-responsive">
                    <h5 class="text-center">Payment</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Receipt No.</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Advance Amount</th>
                                <th scope="col">Due Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in context3 %}
                            <tr>
                                <td>{{ x.Recipt }}</td>
                                <td>{{ x.Totalamount }}</td>
                                <td>{{ x.Advanceamount }}</td>
                                <td>{{ x.Dueamount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock process %}

{% block team %}

{% endblock team %}

{% block testimonial %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Images</h6>
            <h1 class="mb-5">Upper Clothe Images</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for x in context1 %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{ media_url}}{{ x.Imageicon }}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Item:{{ x.Item }}</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>Quantity:{{ x.Quantity}}</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Catigary Id:{{ x.Catid }}</small>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            </div>

            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Images</h6>
            <h1 class="mb-5">Lower Cloth Images</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for x in context2 %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{ media_url}}{{ x.Imageicon }}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Item:{{ x.Item }}</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>Quantity:{{ x.Quantity}}</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Catigary Id:{{ x.Catid }}</small>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            </div>

            </div>
        </div>
    </div>
</div>




{% endblock testimonial %}














